*{
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
    font-family: poppins;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --main-color:#cab273;
    --main-light-color:#fffbf0;
    --secondary-color:#551756;
}
/*==header============*/
header{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
}
.header-top-bar{
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-top-bar span{
    color:#474747;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    font-weight: 400;
}
/*==navigation===========================*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.logo{
    height: 250px;
}
.logo img{
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color:#3b3b3b;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    transition: all ease 0.3s;
}
.menu li a:hover,
.menu li a.active{ 
    color: var(--main-color);
}
.right-nav{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--main-light-color);
    position: relative;
}
.right-nav a i{
    color:#4b4b4b;
}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    background-color: var(--main-color);
    font-weight: 500;
    font-size: 0.6rem;
}

/*=main banner======================================*/
#main-banner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-banner-box{
    width: 100%;
    height: 100%;
    position: relative;
}
.main-banner-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main-banner-text{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
}
.main-banner-text h1{
    font-size: 3rem;
    max-width: 500px;
    line-height: 3.3rem;
    font-weight: 400;
    color: #333333;
} 
.main-banner-text p{
   color: #333333;
   font-size: 1.1rem;
   margin: 10px 0px;
   letter-spacing: 0.1px;
} 
.main-banner-text a{
    color: #ffffff;
    background-color: var(--main-color);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 30px;
}

/** what we provide ============*/

.what-we-provide{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.w-info-box{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.w-info-icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 1.4rem;
    background-color: var(--main-light-color);
}

.w-info-icon{
    color: var(--main-color);
}

.w-info-text strong{
    color:#3b3b3b;
    font-weight: 500;
    font-size: 0.9rem;
}

.w-info-text p{
    color:#535353;
    font-size: 0.8rem;
    letter-spacing: 0.3px;
}
/*==grid-product ==================*/
.product-grid-half{
    max-width: 1200px;
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    max-height: 300px;
}
.product-grid-box{
    height: 210px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-light-color);
    position: relative;
}
.product-grid-text{
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-90%,-50%);
    display: flex;
    max-width: 130px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.product-grid-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
}

.product-grid-text strong{
    color: #1d1d1d;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.product-grid-text span{
    color: #5a5a5a;
    font-size: 0.8rem;
    font-weight: 400;
}
.product-grid-text a{
    color:#272727;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    border-bottom: 1px solid #616161;
}

